NODE_ENV=production
PORT=3100
PGHOST=127.0.0.1
PGPORT=5432
PGDATABASE=wannatalk
PGUSER=anton
PGPASSWORD=CHANGE_ME
PGSSL=false
JWT_SECRET=CHANGE_ME_TO_A_LONG_RANDOM_VALUE
CORS_ORIGIN=https://bookings.wannatalk.co.za
